jupyterlab==3
numpy
matplotlib
jupyter-book
jupyterlab-iframe
jupyterlab-git 
jupyterlab_myst
jupyter-server-proxy
ghp-import
sphinx-autobuild
sphinxcontrib-mermaid
docutils==0.17.1  # see https://jupyterbook.org/en/stable/content/citations.html?highlight=docutils#citations-and-bibliographies
nox
gh-scoped-creds
